.btn {
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
  font-size: .9rem; 
}
.btn:active{
    scale: .98; 
}
.light {
  background-color: #fff;
  padding: .4em 2rem; 
  box-shadow: 0px 3px 5px rgba(220, 215, 215, 0.6);
}

.light:hover{
    color: var(--c-gray); 
}

.dark{
    background-color: var(--c-pink); 
    color: #fff; 
    padding: 1rem 3.5rem; 
    box-shadow: 0 5px 5px hsla(322, 100%, 70%, 0.3); 
   
}

.dark:hover{
    background-color:hsl(322, 100%, 80%);
}

@media (min-width: 750px) {
    .btn{
        font-size: 1rem; 
    }
    .light{
        padding: .5rem 3rem; 
    }
}